<div class="oo-player" id="<%= div_id %>"></div>
<script type="text/javascript" charset="utf-8">
  OO.ready(function() {
    window.player = OO.Player.create('<%= div_id %>', '<%= embed_code %>', <%= options %>);
  });
</script>
